/*
 * Generate Alert CSS
 * Generates an alert box (e.g. to show error messages) using an overlay
 * Derived from the sample Google extension, "Proxy Settings" by Mike West
 */

.overlay {
  display: block;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 240px;
  padding: 10px;
  margin: -40px 0 0 -120px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 1.2em;
  transition: all 1.0s ease;
  transform: scale(0);
}

.overlay ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.overlay-visible {
  opacity: 1;
  transform: scale(1);
}