/* */

:root {
  --increment-decrement-color: #1779BA;
  --increment-decrement-1-color: #004687;
  --increment-decrement-2-color: #004687;
  --increment-decrement-3-color: #001354;
  --next-prev-color: #05854D;
  --clear-color: #FF0000;
  --return-color: #FFCC22;
  --enhanced-mode-color: #EEBB22;
  --auto-color: #FF6600;
  --download-color: rebeccapurple; /* #663399 */
  --toolkit-color: #000028;
  --skip-color: #000000;
  --save-color: #FF69B4;
  --success-color: #05854D;
  --error-color: #E6003E;
  --nci-red-color: #BA1F40;
  --default-color: #333333;
}

/* display css */

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.clear-both {
  clear: both;
}

/* fade css */

@keyframes fade-in {
  from { opacity: 0; transform: scale(0); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes fade-in-max-height {
  from { max-height: 0; }
  to { max-height: 1000px; }
}

@keyframes fade-out {
  from { opacity: 1; transform: scale(1); }
  to { opacity: 0; transform: scale(0); }
}

@keyframes fade-out-max-height {
  from { max-height: 1000px; }
  to { max-height: 0; }
}

.fade-in {
  animation: fade-in 0.3s ease-out, fade-in-max-height 0.6s ease-out;
}

.fade-out {
  animation: fade-out 0.3s ease-out, fade-out-max-height 0.3s ease-out;
}