/* Options CSS is minimal because Options is set to use Browser UI style */

/* Firefox: Set max-width and margin */
body {
  min-width: 420px;
  max-width: 420px;
  margin: 20px;
}

/* Firefox: Add font: inherit (no browser defaults for options like Chrome) and overflow-x: hidden; because Moz adds extra height to textarea (for scrollbars) */
textarea {
  font: inherit;
  overflow-x: hidden;
  vertical-align: text-top;
  width: 100%;
  color: #333333;
  max-width: 300px;
  max-height: 90px;
  min-width: 300px;
  min-height: 41px;
}

/* Firefox: Change input type number to hide spinner up/down arrows unless focused/hovered */
input[type=number] { -moz-appearance: textfield; }
input[type=number]:hover, input[type=number]:focus { -moz-appearance: initial; }

h3 {
  display: inline;
  user-select: initial;
}

section:not(:last-child) {
  margin-bottom: 40px;
}

div.heading {
  border-bottom: 1px solid #333333;
  padding-bottom: 6px;
  margin-bottom: 12px;
}

div.heading.selection-first {
  margin-bottom: 22px;
}

div.heading button {
  float: right;
  position: relative;
  top: -8px;
}

div.table {
  display: table;
}

div.row  {
  display: table-row;
}

div.column {
  display: table-cell;
  padding: 0 10px 10px 0;
}

input[type="number"] {
  width: 52px;
}

img {
  vertical-align: text-bottom;
}

input[type="image"] {
  display: inline-block;
  vertical-align: middle;
}

input[type="image"]:focus {
  outline: none;
}

.clear-both {
  clear: both;
}

.key-input {
  width: 175px;
}

.tooltip {
  border-bottom: 1px dotted #333;
  padding-bottom: 2px;
  font-style: italic;
  display: inline-block;
  margin-bottom: 1em;
}

.tooltip.link {
  border-bottom: none;
  padding-bottom: initial;
  font-style: initial;
}

.tooltip-alt img {
  display: inline-block;
  margin-left: 4px;
}

/* heading border-bottom-color overrides */

#increment-decrement-settings div.heading {
  border-bottom-color: var(--increment-decrement-color);
}

#next-prev-settings div.heading {
  border-bottom-color: var(--next-prev-color);
}

#auto-settings div.heading {
  border-bottom-color: var(--auto-color);
}

#download-settings div.heading {
  border-bottom-color: var(--download-color);
}

#enhanced-mode div.heading {
  border-bottom-color: var(--enhanced-mode-color);
}

/* heading h3 color overrides */

#increment-decrement-settings div.heading h3 {
  color: var(--increment-decrement-color);
}

#next-prev-settings div.heading h3 {
  color: var(--next-prev-color);
}

#auto-settings div.heading h3 {
  color: var(--auto-color);
}

#download-settings div.heading h3, #download-experimental {
  color: var(--download-color);
}

#enhanced-mode div.heading h3 {
  color: var(--enhanced-mode-color);
}

/* icon and popup */

.icon-color.radio, #popup-button-size-div {
  margin-bottom: 24px;
}

.icon-color.radio label:not(:last-child) {
  margin-right: 16px;
}

.icon-color.radio label:first-child {
  margin-right: 0;
  display: block;
}

.icon-color.radio label > input {
  margin-right: 3px;
}

#popup-button-size-label {
  display: block;
  margin-bottom: 5px;
}

#popup-button-size-img {
  vertical-align: top;
  cursor: pointer;
}

/* profile */

#profile-none {
  font-style: italic;
}

#profile-delete-button {
  margin-top: 2em;
}

/* base-case */

#base-case .radio label:not(:last-child) {
  margin-right: 1em;
}

/* error-skip */

#error-skip.column {
  padding-bottom: 0;
}

#error-skip-description {
  margin-left: 4px;
}

#error-skip-checkboxes div.column {
  padding: 4px 4px 4px 0;
}

#error-skip-checkboxes label {
  padding: 0;
}

/* selection-custom  */

#selection-custom {
  margin: 10px 0;
}

#selection-custom-url-textarea {
  vertical-align: initial;
  word-break: break-all;
}

#selection-custom-pattern-input {
  width: 120px;
  margin: 0 4px;
}

#selection-custom-flags-input {
  width: 52px;
}

/* download (experimental and img alignment for cloud and flask */

#download-experimental {
  font-size: 0.9em;
  font-style: italic;
  display: inline-block;
  margin-left: 6px;
}

#download-cloud-download {
  margin-bottom: -1px;
}

#download-experimental-flask {
  margin-bottom: 1px;
}

/* about */

#about-floats-div {
  margin-bottom: 17px;
}

#about-floats-div #name-version-website-div {
  float: left;
}

#about-floats-div #reset-options-div {
  float: right;
}

/* urli-thank-you */

#urli-thank-you {
  width: 100%;
  vertical-align: top;
  padding-top: 2px;
}

#urli-thank-you-rainbow {
  font-size: 1.1em;
  margin-bottom: 8px;
}

#urli-thank-you-rainbow span {
  padding: 0 2px;
}

#urli-thank-you-wish {
  font-style: italic;
}

/* special thanks */

#special-thanks {
  margin-top: 0.75em;
}

#special-thanks-content, #special-thanks-you {
  font-size: 0.75em;
  font-style: italic;
}

#special-thanks-you {
  font-weight: bold;
  text-align: center;
}

#copyleft {
  font-size: 0.75em;
  text-align: right;
  margin-top: 8px;
}

/* Colors derived from Rainbow color palette by Icon Bunny @ Iconscout https://iconscout.com/icon/rainbow-97 */
.rainbow-underline:after {
  content: '';
  display: block;
  margin-top: 2px;
  height: 2px;
  background: linear-gradient(
          to right,
          /*#1779BA 0%, #1779BA 16%, #FF6600 16%, #FF6600 32%, #FFCC22 32%, #FFCC22 48%, #05854D 48%, #05854D 64%, #FF6600 64%, #FF6600 80%, #663399 80%, #663399 100%*/
          /*#EE5555 0%, #EE5555 16%, #FF6600 16%, #FF6600 32%, #FFCC22 32%, #FFCC22 48%, #66BB6B 48%, #66BB6B 64%, #44A5F5 64%, #44A5F5 80%, #663399 80%, #663399 100%*/
          #44A5F5 0%, #44A5F5 24%, #EE5555 25%, #EE5555 49%, #FFCC22 50%, #FFCC22 74%, #66BB6B 75%, #66BB6B 100%
          /*#44A5F5 0%, #44A5F5 20%, #EE5555 20%, #EE5555 40%, #FFCC22 40%, #FFCC22 60%, #66BB6B 60%, #66BB6B 80%, #663399 80%, #663399 100%*/
  );
}

/* Overrides generateAlert overlay styling so alert is displayed in gap space */
#options .overlay {
  top: 80%; /* initial */
}