/* Options CSS is minimal because Options is set to use Chrome style */

@import url("ui/fade.css");
@import url("ui/hover.css");
@import url("ui/generate-alert.css");

h3 {
  display: inline;
  user-select: initial;
}

section:not(:last-child) {
  margin-bottom: 40px;
}

div.heading {
  border-bottom: 1px solid #333333;
  padding-bottom: 6px;
  margin-bottom: 12px;
}

div.heading.selection-first {
  margin-bottom: 22px;
}

div.heading button {
  float: right;
  position: relative;
  top: -8px;
}

div.table {
  display: table;
}

div.row  {
  display: table-row;
}

div.column {
  display: table-cell;
  padding: 0 10px 10px 0;
}

input[type="number"] {
  width: 52px;
}

img {
  vertical-align: text-bottom;
}

input[type="image"] {
  display: inline-block;
  vertical-align: middle;
}

.icon-color.radio, #popup-button-size-div {
  margin-bottom: 24px;
}

.icon-color.radio label:not(:last-child) {
  margin-right: 16px;
}

.icon-color.radio label:first-child {
  margin-right: 0;
  display: block;
}

.icon-color.radio label > input {
  margin-right: 3px;
}

#popup-button-size-label {
  display: block;
  margin-bottom: 5px;
}

#popup-button-size-img {
  vertical-align: top;
  cursor: pointer;
}

#selection-custom {
  margin: 10px 0;
}

#selection-custom-url-textarea {
  width: 284px;
  word-break: break-all;
}

#selection-custom-pattern-input {
  width: 120px;
  margin: 0 4px;
}

#selection-custom-flags-input {
  width: 52px;
}

.key-input {
  width: 180px;
}

input[type="image"]:focus {
  outline: none;
}

#about-floats-div {
  margin-bottom: 17px;
}

#about-floats-div #name-version-website-div {
  float: left;
}

#about-floats-div #reset-options-div {
  float: right;
}

#about-floats-div .clear-both {
  clear: both;
}


#urli-thank-you {
  width: 100%;
  vertical-align: top;
  padding-top: 2px;
}





.tooltip img {
  display: inline-block;
  margin-left: 4px;
}

/* heading color overrides */


#increment-decrement-settings div.heading {
  border-bottom-color: #1779BA;
}

#next-prev-settings div.heading {
  border-bottom-color: #05854D;
}

#auto-settings div.heading {
  border-bottom-color: #FF6600;
}

#download-settings div.heading {
  border-bottom-color: rebeccapurple;
}

#enhanced-mode div.heading {
  border-bottom-color: #FFCC22;
}

/*#increment-decrement-settings div.heading h3 {
  color: #1779BA;
}




#next-prev-settings div.heading h3 {
  color: #05854D;
}



#auto-settings div.heading h3 {
  color: #FF6600;
}


#download-settings div.heading h3 {
  color: rebeccapurple;
}



#enhanced-mode div.heading h3 {
  color: #EEBB22;
}*/


#download-experimental {
/*  color: rebeccapurple;*/
  font-size: 0.9em;
  display: inline-block;
  margin-left: 6px;
}

/*#download-experimental-disclaimer {
  color: rebeccapurple;
}*/


#urli-thank-you-rainbow {
  font-size: 1.1em;
  margin-bottom: 8px;
}

#urli-thank-you-rainbow span {
  padding: 0 2px;
}

/* Derived from Rainbow color pallete by Icon Bunny @ Iconscout https://iconscout.com/icon/rainbow-97 */
/*
#urli-thank-you-thank {
  border-bottom: 3px solid #44A5F5;
}

#urli-thank-you-you {
  border-bottom: 3px solid #EE5555;
}

#urli-thank-you-very {
  border-bottom: 3px solid #FFCC22;
}

#urli-thank-you-much {
  border-bottom: 3px solid #66BB6B;
}
*/

/* orange #F77C00 */


#error-skip.column {
  padding-bottom: 0;
}

#error-skip-checkboxes div.column {
  padding: 4px 4px 4px 0;
}

#error-skip-checkboxes label {
  padding: 0;
}

#error-skip-description-p {
  margin-bottom: 2em;
}

.note {
/*  font-size: 0.9em;*/
}

.rainbow-underline:after {
  content: '';
  display: block;
  margin-top: 2px;
  height: 2px;
  background: linear-gradient(
      to right,
      #44A5F5 0%, #44A5F5 24%, #EE5555 25%, #EE5555 49%, #FFCC22 50%, #FFCC22 74%, #66BB6B 75%, #66BB6B 100%
  );
}

#attributions-label {
/*  text-decoration: underline;
  margin-bottom: 4px;*/
}

#attributions-content, #attributions-you {
  font-size: 0.75em;
  font-style: italic;
}

#attributions-you {
  font-weight: bold;
  text-align: right;
}

#copyleft {
  font-size: 0.75em;
  text-align: right;
  margin-top: 8px;
}


#options .overlay {
  top: 79%; /* initial */
}