/* Options CSS is minimal because Options is set to use Chrome style */

@import url("ui/generate-alert.css");
@import url("ui/fade.css");

h3 {
  display: inline;
  user-select: initial;
}

section:not(:last-child) {
  margin-bottom: 40px;
}

div.heading {
  border-bottom: 1px solid #333333;
  padding-bottom: 6px;
  margin-bottom: 12px;
}

div.heading.selection-first {
  margin-bottom: 22px;
}

div.heading button {
  float: right;
  position: relative;
  top: -6px;
}

div.table {
  display: table;
}

div.row  {
  display: table-row;
}

div.column {
  display: table-cell;
  padding: 0 10px 10px 0;
}

input[type="number"] {
  width: 52px;
}

img {
  vertical-align: text-bottom;
}

input[type="image"] {
  display: inline-block;
  vertical-align: middle;
}

.buttons button:not(:last-child) {
  margin-right: 40px;
}

.icon-color.radio, #popup-icon-size-div {
  margin-bottom: 20px;
}

.icon-color.radio label:not(:last-child) {
  margin-right: 16px;
}

.icon-color.radio label:first-child {
  margin-right: 0;
  display: block;
}

.icon-color.radio label > input {
  margin-right: 3px;
}

#popup-icon-size-label {
  display: block;
  margin-bottom: 5px;
}

#popup-icon-size-img {
  vertical-align: top;
}

#selection-custom {
  margin: 10px 0;
}

#selection-custom-url-textarea {
  width: 284px;
}

#selection-custom-pattern-input {
  width: 120px;
  margin: 0 4px;
}

#selection-custom-flags-input {
  width: 52px;
}

.key-input {
  width: 180px;
}

input[type="image"]:focus {
  outline: none;
}

#about-floats-div {
  margin-bottom: 8px;
}

#about-floats-div #name-version-website-div {
  float: left;
}

#about-floats-div #reset-options-div {
  float: right;
}

#about-floats-div .clear-both {
  clear: both;
}

#urli-click-count {
  cursor: pointer;
  vertical-align: top;
}

#urli-thank-you {
  display: block;
  text-align: right;
  font-family: cursive;
  font-weight: bold;
}

#options .overlay {
  top: initial;
}

.tooltip {
  display: inline-block;
  margin-left: 4px;
}

.tooltip:active img {
  display: none;
}

.tooltip:active:after {
  content: attr(title);
  display: block;
  margin-top: 16px;
  font-size: 10px;
}
