/* Options CSS is minimal because Options is set to use Chrome style */

@import url("ui/fade.css");
@import url("ui/hover.css");
@import url("ui/generate-alert.css");

h3 {
  display: inline;
  user-select: initial;
}

section:not(:last-child) {
  margin-bottom: 40px;
}

div.heading {
  border-bottom: 1px solid #333333;
  padding-bottom: 6px;
  margin-bottom: 12px;
}

div.heading.selection-first {
  margin-bottom: 22px;
}

div.heading button {
  float: right;
  position: relative;
  top: -8px;
}

div.table {
  display: table;
}

div.row  {
  display: table-row;
}

div.column {
  display: table-cell;
  padding: 0 10px 10px 0;
}

input[type="number"] {
  width: 52px;
}

img {
  vertical-align: text-bottom;
}

input[type="image"] {
  display: inline-block;
  vertical-align: middle;
}

.icon-color.radio, #popup-button-size-div {
  margin-bottom: 24px;
}

.icon-color.radio label:not(:last-child) {
  margin-right: 16px;
}

.icon-color.radio label:first-child {
  margin-right: 0;
  display: block;
}

.icon-color.radio label > input {
  margin-right: 3px;
}

#popup-button-size-label {
  display: block;
  margin-bottom: 5px;
}

#popup-button-size-img {
  vertical-align: top;
  cursor: pointer;
}

#selection-custom {
  margin: 10px 0;
}

#selection-custom-url-textarea {
  width: 284px;
  word-break: break-all;
}

#selection-custom-pattern-input {
  width: 120px;
  margin: 0 4px;
}

#selection-custom-flags-input {
  width: 52px;
}

.key-input {
  width: 180px;
}

input[type="image"]:focus {
  outline: none;
}

#about-floats-div {
  margin-bottom: 17px;
}

#about-floats-div #name-version-website-div {
  float: left;
}

#about-floats-div #reset-options-div {
  float: right;
}

#about-floats-div .clear-both {
  clear: both;
}

#urli-click-count {
  cursor: pointer;
  vertical-align: top;
  transform: scaleX(-1);
}

#urli-thank-you {
  width: 100%;
}

#urli-thank-you-1, #urli-thank-you-2 {
  font-family: cursive;
  font-style: italic;
  width: 100%;
}

#urli-thank-you-really {
  font-weight: bold;
  font-style: italic;
  text-align: right;
  margin-top: 10px;
}

#extension-id-div {
  font-family: monospace;
  font-style: normal;
  text-align: right;
}

#options .overlay {
  top: initial;
}

.tooltip {
  display: inline-block;
  margin-left: 4px;
}

/* heading color overrides */

#increment-decrement-settings div.heading {
  border-bottom-color: #1779BA;
}

#increment-decrement-settings div.heading h3 {
  color: #1779BA;
}

#next-prev-settings div.heading {
  border-bottom-color: #05854D;
}

#next-prev-settings div.heading h3 {
  color: #05854D;
}

#auto-settings div.heading {
  border-bottom-color: #FF6600;
}

#auto-settings div.heading h3 {
  color: #FF6600;
}

#download-settings div.heading {
  border-bottom-color: rebeccapurple;
}

#download-settings div.heading h3 {
  color: rebeccapurple;
}