/* TODO */

/* Options CSS is minimal because the page is set to use Chrome's style */

h3 {
  display: inline;
}

section:not(:last-child) {
  margin-bottom: 32px;
}

div.table {
	display: table;
}

div.row  {
	display: table-row;
}

div.column {
	display: table-cell;
	padding: 0 10px 10px 0;
}

input[type="number"] {
	width: 52px;
}

img {
  vertical-align: text-bottom;
}