/* Popup CSS relies on Chromium CSS */

@import url("chromium/chrome_shared.css");
@import url("ui/generate-alert.css");
@import url("ui/hover.css");
@import url("ui/fade.css");
@import url("ui/toggle.css");

html {
  height: auto; /* Needed to override chromium/chrome-shared.css */
}

body {
  color: #333333;
  background: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
}

div.table {
  display: table;
}

div.row {
  display: table-row;
}

div.column {
  display: table-cell;
}

/* Controls CSS */

#controls {
  margin: 5px;
}

#controls input[type="image"] {
  vertical-align: middle; /* Matches hover.css styling */
  padding: 6px;
}

#controls input[type="image"]:not(:last-child) {
  margin-right: 10px;
}

#controls input[type="image"]:focus {
  outline: none;
}

#controls input[type="image"].disabled {
  opacity: 0.2;
}

/* Setup CSS */

#setup {
  min-width: 512px;
  margin: 12px;
}

/*h3, label {
  text-shadow: -1px 0 #DDD, 0 1px #DDD, 1px 0 #DDD, 0 -1px #DDD;
}*/

#setup h3 {
  color: #333;
}

#setup input[type="text"] {
  width: 152px;
  display: block;
}

#setup input[type="number"] {
  width: 52px;
  display: block;
}

#setup select {
  display: block;
}

#setup textarea {
  width: 100%;
  color: #777777;
}

#setup div.column {
  padding: 10px 10px 0 0;
}

#setup div.column:not(:last-child) {
  padding-right: 40px;
}

#setup div.column > label, .label-display-block {
  display: block;
}

#setup .setup-buttons {
  margin-top: 24px;
  text-align: center;
}

#setup .setup-buttons > button:not(:last-child) {
  margin-right: 12px;
}

#setup #options-button {
  position: absolute;
  right: 12px;
}

#setup #extra-toggles {
  position: absolute;
  left: 12px;
  bottom: 8px;
}

#setup #extra-toggles .checkbox > label:not(:last-child) {
  margin-right: 8px;
}

#setup #auto, #setup #download {
/*  border: 1px solid #999999;
  padding: 12px;*/
}