/*


*/

@import url("shared.css");

/* Initial popup body background color and window size (for 16px images). */

html {
  height: auto; /* override chromium/chrome-shared.css */
}

body {
	background: #EDECEB;
	height: 16px; /* Use 24 for 24px images. */
	width: 82px; /* Use 114 for 24px images.*/
	margin: 5px;
  padding: 0;/* override chromium/index.css */
}

/* Div for images; displayed by default when the popup opens. */

div[id="images"] {
	/*display: inline;*/
}

/* Gives 2px right spacing to images set inline (except for the last). */

input[type="image"]:not(:last-child) {
	margin-right: 2px;
}

/* Disabled class for images, set by updateImages(). */

input[type="image"].disabled {
	opacity: 0.2;
}

/* Enabled class for images, set by updateImages(). */

input[type="image"].enabled {
	opacity: 1.0;
}


/* Textarea properties. */

textarea {
	width: 412px;
}

/* Input properties. */

input[type="text"] {
	width: 206px;
}

input[type="number"] {
	width: 52px;
}

input[type="checkbox"] {
	margin: 5px 0px 0px 85px; 
}

textarea {
	letter-spacing: -1px;
	font: 14px/1 Arial, sans-serif;
	font-weight: normal;
	color: #777777;
}

/* Form buttons. */

#popup-form-buttons {
	display: block;
	text-align: center;
	position: relative;
}

.overlay > ul > li {
	list-style-type: none;
}
