/* Popup CSS relies on Chromium CSS */

@import url("chromium/chrome_shared.css");
@import url("ui/generate-alert.css");
@import url("ui/hover.css");
@import url("ui/fade.css");
@import url("ui/toggle.css");

/* chromium/chrome-shared.css Overrides */
html {
  height: auto;
}

h3, :-webkit-any(.checkbox, .radio) label input ~ span {
  -webkit-user-select: initial;
}

/* Native elements styles */

body {
  color: #333333;
  background: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
}

h3 img {
  vertical-align: bottom;
}

div.table {
  display: table;
}

div.row {
  display: table-row;
}

div.column {
  display: table-cell;
}

/* Controls CSS */

#controls {
  margin: 5px;
}

#controls input[type="image"] {
  vertical-align: middle; /* Matches hover.css styling */
  padding: 8px;
}

#controls input[type="image"]:not(:last-child) {
  margin-right: 10px;
}

#controls input[type="image"]:focus {
  outline: none;
}

#controls input[type="image"].disabled {
  opacity: 0.2;
}

/* Setup CSS */

#setup {
  min-width: 512px;
  margin: 12px;
}

#setup h3 {
  font-weight: bold;
/*  font-style: italic;*/
  padding-bottom: 4px;
  margin-bottom: 0.6em;
}

#setup h3 {//
  color: #333333;
  border-bottom: 1px solid #333333;
}

/*
#setup input[type="text"]#selection-input  {
  width: 140px;
  display: block;
}
*/

#leading-zeros-pad-label { /* Make font size smaller to fit inside constrained width of Selection */
  font-size: 0.9em;
}

#setup input[type="number"] {
  width: 52px;
  display: block;
}

#setup select {
  display: block;
}

#setup textarea {
  width: 100%;
  color: #777777;
  word-break: break-all;
  max-width: 520px;
  max-height: 90px;
  min-width: 520px;
  min-height: 41px;
}

/*
#setup img {
  vertical-align: bottom;
}
*/

#setup div.column {
  padding-top: 7px;
}

#setup #properties div.column:not(:last-child) {
  padding-right: 30px;
}

#setup div.column > label, .label-display-block {
  display: block;
  margin-bottom: 2px;
}

#setup .setup-buttons {
  margin-top: 24px;
  text-align: center;
}

#setup .setup-buttons > button:not(:last-child) {
  margin-right: 12px;
}

#setup #options-button {
  position: absolute;
  right: 12px;
}

#setup #extra-toggles {
  position: absolute;
  left: 12px;
  bottom: 6px;
}

#setup #extra-toggles .checkbox > label:not(:last-child) {
  margin-right: 8px;
}

#setup #auto, #setup #download {
  margin-top: 16px;
}

#auto-eta, #download-experimental {
  font-size: 0.8em;
  font-weight: bold;
  font-style: italic;
  color: #FF6600;
  position: absolute;
  right: 12px;
  margin-top: -10px;
}

#download-experimental {
  color: rebeccapurple;
}

#setup #auto div.column:not(:last-child), #setup #download div.column:not(:last-child)  {
  padding-right: 30px;
}

#setup #auto #auto-wait-badge {
  vertical-align: bottom;
}

#setup #auto #auto-wait-badge .checkbox label {
  padding: 2px 0;
}

#setup #download #download-row-2 div.column {
  padding-top: 0;
}

#download-strategy-select {
  margin-bottom: 8px;
}

#download-selector-input {
  width: 90%;
}

#download-includes-input {
  width: 104px;
}

#auto-wait, #download-same-domain {
  vertical-align: bottom;
}

#download-min-mb input[type="number"], #download-max-mb input[type="number"] { /* Keep "MB" next to input */
  display: inline-block;
  margin-right: 1px;
}

#auto-toggle-input.tgl-ios:checked + .tgl-btn {
  background: #FF6600;
}

#download-toggle-input.tgl-ios:checked + .tgl-btn {
  background: /*#4285f4;*/ #663399;
}

#auto-toggle span, #download-toggle span {
  font-size: 1.05em;
  font-weight: bold;
  font-style: italic;
  margin-left: 3px;
}

#auto-toggle span {
  color: #FF6600;
}

#download-toggle span {
  color: rebeccapurple;
}

/*
#auto-toggle span, #download-toggle span {
  font-style: italic;
}*/

#download-experimental-disclaimer {
  margin-top: 8px;
  color: #663399;
  font-size: 1.05em;
  font-style: italic;
  font-weight: bold;
}

#setup h3#setup-h3 {
  color: #333333;
  border-bottom-color: #333333;
}


#setup h3#auto-h3 {
  color: #FF6600;
  border-bottom-color: #FF6600;
}

#setup h3#download-h3 {
  color: #663399;
  border-bottom-color: #663399;
}

#setup #auto div.column, #setup #download div.column {
  padding-top: 3px;
}


#options-button {
  font-size: 1.05em;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  bottom: 10px;
  cursor: pointer;
  padding: 4px;
}

#options-button img {
  margin-right: -2px;
  vertical-align: bottom;
}

#download-types label {
  margin-right: 4px;
}