/* Firefox themed browser underline */
.browser-underline:after {
  content: '';
  display: block;
  margin-top: 2px;
  height: 2px;
  background: linear-gradient(to right, #BE0575 0%, #F62336 24%, #FF6611 25%, #FF6611 49%, #FF6611 50%, #FFEC4A 74%, #008AFB 75%, #203FB6 100%);
}

/* Firefox override options overlay position so generated alert is displayed in gap space on the Options Page */
#options .overlay {
  position: absolute;
  top: initial;
  bottom: 8.6em;
  left: 17em;
}